  <%# <form accept-charset="UTF-8" action="/users" data-remote="true" method="post">
  <%#   <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <%#   <label for="username">Username:</label><br>
  <%#   <input type="text" id="username" name="user[username]"><br>
  <%#   <label for="email">Email:</label><br>
  <%#   <input type="text" id="email" name="user[email]"><br>
  <%#   <label for="password">Password:</label><br>
  <%#   <input type="password" id="password" name="user[password]">
  <%#   <input type="submit" value="Submit">
<%# </form> %>

<%# <%= form_tag("/users", method: "post") do%>
  <%# <%= label_tag(:username, "Username:") %>
  <%# <%= text_field_tag(:username) %>
  <%# <%= label_tag(:email, "Email:") %>
  <%# <%= email_field_tag(:email) %>
  <%# <%= label_tag(:password, "Password:") %>
  <%# <%= password_field_tag(:password) %>
  <%# <%= submit_tag("Submit") %>
<%# <% end %>



<%= form_with model: @user do |form| %>

<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being created:</h2>

    <ul>
      <% @user.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>


  <%= form.label :username, "Username:" %>
  <%= form.text_field(:username, value: 'Maha') %>
  <%= form.label :email, "Email:" %>
  <%= form.email_field(:email, placeholder: "example@example.com") %>
  <%= form.label :password, "Password:" %>
  <%= form.password_field :password %>
  <%= form.submit %>
<% end %>


